<section class="gallery">
<div
ng2-carouselamos
[width]="1100"
[items]="images"
[$item]="itemTemplate"
[$prev]="prevTemplate"
[$next]="nextTemplate"
></div>

    <ng-template #nextTemplate>
        <img class="arrow arrow-right" src="/assets/resource/arrow.png" />
      </ng-template>
      <ng-template #prevTemplate>
          <img class="arrow arrow-left" src="/assets/resource/arrow.png"  />
        </ng-template>

  
    <ng-template let-item let-i="index" #itemTemplate>    
        <div class="img-con"><div class="img" [style.backgroundImage]="'url('+ item.url +')'"></div></div>
    </ng-template>
</section>


