<section class="gallery-container">
    <div class="gallery-inner">
        <div class="gallery-control" [style.transform] = "'translateX('+this.position+'%)'">
            <app-images></app-images>        
        </div>
        <div class="gallery-nav">
            <img class="arrow arrow-left" src="/assets/resource/arrow.png" (click)="prevImg()" [hidden]="this.position === 0" />
            <img class="arrow arrow-right" src="/assets/resource/arrowr.png" (click)="nextImg()" [hidden]="this.screenWidth < 700 ? this.position < -700 : (this.screenWidth < 900 ? this.position < -300 : this.position < -180)"/>
        </div>
    </div>
</section>