<section class="container">
  <div class="text">
    <h1>Lorem ipsum dolor sit amet</h1>
    <p>
      Consectetur adipiscing elit. Phasellus pellentesque mauris ac convallis iaculis. In scelerisque cursus orci sed vehicula. Ut porttitor tortor at est gravida dapibus. Pellentesque efficitur eros et aliquam pretium. Donec velit odio, aliquet eu rutrum non, maximus vitae tellus. Aenean interdum magna ut lectus semper efficitur vel ut risus. Mauris blandit urna nisi, vel semper est dapibus vel. Phasellus eu dapibus ipsum.
    </p>
  </div>
  <form>
        <input type="text" (change)="getName($event)" placeholder="Name" [className]="submitted ? 'none' : 'block'" ngModel name="username" #username="ngModel" required />
        <input type="email" (change)="getMail($event)" placeholder="Email" ngModel name="usermail" #usermail="ngModel" [className]="submitted ? 'none' : 'block'" required />
        <button [disabled]="!username.dirty || !usermail.dirty" (click)="signupUser($event)" [className]="submitted ? 'none' : 'block'" type="submit">Send</button>
        <div [className]="!submitted ? 'none' : ''">{{response}}</div>
  </form>
</section>