.text{
    text-align: center;
    max-width: 720px;
    margin: 15px auto 35px auto;
}
.text h1{
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 900;
}

.text p {
    font-size: 0.72rem;
    margin: 0;
    font-weight: 500;
    line-height: 1.9;
}

form {
    max-width: 545px;
    margin: 0 auto; 
    text-align: center;
}
form input{
    width: 100%;
    margin-bottom: 20px; 
    font-size: 1.125rem;
    font-weight: 600;
    padding: 10px;
    border: 1px solid #1197c3;
}
form button{
    width: 160px;
    padding: 15px 0;
    font-size: 1.125rem;
    background-color: #1197c3;
    border: 0;
    color: #000000;
}
.none {
    display: none;
}
.block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 700px) {
    .text h1{
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 25px;
        font-weight: 900;
    }
    form input {
        width: 95%;
    }
}
@media only screen and (max-width: 900px) {
    .container{
        padding-bottom: 30px;
    }
}